
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div style="font-size:x-large;color:white ;background-color:green;border-radius:20px;border-spacing:20px;padding:20px">
        <a style="color:white" href="/Movie/Create"> Create Movie</a><br />
        <a style="color:white" href="/Movie/Display">Display Movies</a>
    </div>

</body>
</html>
