
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>about</title>
</head>
<body style="background-color:darkgray;color:white;font-size:x-large">
    <div style="border-color:yellow;border-radius10px;box-shadow:0 0 10px black">
        @{
            Html.RenderAction("header");
        }
    </div>
    <div>
        Welcome To About Page
    </div>
    Peers technology Established In 1996<br />
    provides trainning for software Developement.
</body>
</html>
