
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>contact</title>
</head>
<body style="background-color:darkgray;color:white;font-size:x-large">
    <div style="border-color:yellow;border-radius10px;box-shadow:0 0 10px black">
        @{
            Html.RenderAction("header");
        }
    </div>
    <div>
        Welcome To Contact Page
    </div>
    <p>Maitrivanam , 2nd Fllor ,<br />
     hyderabad , 040-4646544 .
    </p>
</body>
</html>
