
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>peekread</title>
</head>
<body>
    <div> 
        <h2> Peek Read : @TempData.Peek("n").ToString()</h2><br />
        <a href="~/Home/Index">Back To Home</a>
    </div>
</body>
</html>
