
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>

    @{ 
        Html.RenderPartial("_header");
    }
    <h1> Campus Page</h1>

</body>
</html>
