
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>close</title>
</head>
<body>
    <div style="background-color:snow;color:black;font-size:x-large">
        @TempData["uname"].ToString()  Logged Out Successfully !<br />

        <a href="~/Home/Index"> Logg in Again !</a>
    </div>
</body>
</html>
