<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>welcome</title>
</head>
<body>
    <div style="background-color:snow;color:black;font-size:x-large"> 
       Welcome ! @TempData.Peek("uname").ToString()<br />
        <a href="~/secure/close">Log Out </a>
    </div>
</body>
</html>
