
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="background-color:snow;color:darkred;font-size:large">
        <a href="~/home/contentdemo"> ContentResult</a><br />
        <a href="~/home/viewdemo"> ViewResult</a><br />
        <a href="~/home/redirectdemo"> RedirectDemo </a><br />
        <a href="~/home/filedemo">Filedemo</a><br />
        <a href="~/home/routeresultdemo">RouteResultDemo</a>


    </div>
</body>
</html>
