
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>about</title>
</head>
<body>
    <div style="color:black;font-size:x-large;background-color:antiquewhite">
        <h1> Contact Page </h1><hr />
        <p>
            Peers Technology,
          Established In 1996 .
        </p>
        <a href="~/Home/Index"> Back To Home </a>
    </div>
</body>
</html>
